{% extends "base.html" %}
{% load static %}
{% block page %}
Blog Ulil Albab Yogyakarta - Play Group & Taman Kanak-Kanak
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div id="blog-page" class="container">
     <div class="col-md-9 blog-home" style="margin-top: 100px">

	   <!-- Content Row -->

		<div class="row">

		   <div class="blog-post post-main">

			  <h3>{{ artikel.title }}</h3>

			  <!-- Post Info -->



			  <div class="post-info">

				 <p><i class="fa fa-clock-o"></i>Diposting pada {{ artikel.created_at }}</p>

				 <p><i class="fa fa-user"></i>oleh <a href="#">{{ artikel.author }}</a></p>

				 <!-- Post Comments -->

				 <p><i class="fa fa-comment"></i><a href="{% url 'artikel' artikel.title|slugify artikel.id_post %}#disqus_thread">0 Comments</a></p>



			  </div>
			  <div>
			  	{{ artikel.content|safe }}
			  </div>
			 	
		   </div>

		   <!-- /blog-post -->	

		   <!-- Comments Form -->



		   <!-- Posted Comments -->

		    <div class="comments-block">

		    	 <div id="disqus_thread"></div>

					<script>



					/**

					*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.

					*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

					/*

					var disqus_config = function () {

					this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable

					this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable

					};

					*/

					(function() { // DON'T EDIT BELOW THIS LINE

					var d = document, s = d.createElement('script');

					s.src = 'https://tkulilalbab.disqus.com/embed.js';

					s.setAttribute('data-timestamp', +new Date());

					(d.head || d.body).appendChild(s);

					})();

					</script>

					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

					                            

		    </div>

		   <!-- /comments block -->

		</div>

		<!-- /row -->

	</div>
 <!-- /blog-home -->

 

 <!-- Sidebar -->

{% include "i_blog_sidebar.html" %}

 <!-- /sidebar col-md-3 --> 

</div>

<!-- /blog-page -->
{% endblock %}


{% block foot %}
	
{% endblock %}